$light-color: #27fdf5;
$font-stack: Arial, Helvetica, sans-serif;
$primary-color: #d7fffe;
//$primary-color: #e0ffff;
$secondary-color: #f765b8;

//text based on background lightness
@function set-txt-col($color) {
    @if(lightness($color) > 70) {
        @return #f765b8;
    } @else {
        @return #d7fffe;
    }
}

//set bg end txt color
@mixin set-bg($color) {
    background-color: $color;
    color: set-txt-col($color);
}